<div class="container-fluid" id="footer">
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="footer-text">
        <h2><span>Dona Pedro</span> Agencies</h2>
        <p>Dona Pedro Agencies 
          is a family-owned business that was registered in 31 August 2012 by Ukandu Pedro Onyemeachi. 
          We deliver world-standard services in different areas across the board. From car rentals to deep cleaning, lifestyle entertainment.
        </p>
        <div class="logo">
          <img src="assets/images/dona-logo.png" alt="Dona Pedro Logo">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form [formGroup]="footerForm" (ngSubmit)="onSubmit(footerForm.value)" novalidate>
        <h3 class="mb-5">Leave us a Message</h3>
        <div class="form-group">
          <input type="text" name="name" formControlName="name" class="form-control" placeholder="Name:">
        </div>
        <div class="form-group">
          <input type="text" name="email" formControlName="email" class="form-control" placeholder="Email:">
        </div>
        <div class="form-group">
          <input type="tel" name="phone" formControlName="phone" class="form-control" placeholder="Phone:">
        </div>
        <div class="form-group">
          <input type="text" name="message" formControlName="message" class="form-control" placeholder="Message:">
        </div>
        <button class="btn form-control">Send</button>
      </form>
    </div>
  </div>
    
    <a target="_blank" id="whatsHelp" href="https://wa.me/2348162139745?text=Testing+Whatsapp+Integration">
    
    <img src="https://www.whatskonnekt.com/images/whatsapp.png" style="height: 50px;"> Get Help On WhatsApp Now
    
    </a>

  <div class="row mt-5" id="footer-icons">
    <div class="col-md-12 text-center">
      <!-- <i class="fa fa-facebook"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-instagram"></i> -->
      <p>Copyright 2020. Dona Pedro Agencies.</p>
    </div>

  </div>
</div>


<ngx-spinner name = "sub" type = "ball-scale-ripple-multiple"></ngx-spinner>