<app-navbar></app-navbar>
<app-background-banner [heading]="heading"></app-background-banner>>

<div class="container" id="about">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/Group21.png" alt="">
    </div>
    <div class="col-md-6">
      <div id="about-content">
        <h2>About us</h2>
        <p>
          It's a family-owned business that was established in 1996 by Dona Pedro. We deliver world standard services in
          different areas across the board. Dona Pedro is into deep cleaning, car rental, lifestyle entertainment.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="mission-vision">
  <div class="row">
    <div class="col-md-6">
      <h1>Mission</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptatum vel aspernatur. Rerum id
        molestias repellendus vero laudantium, ratione dicta qui repellat provident voluptas. Distinctio, nemo nobis!
        Distinctio, cum quae.</p>
    </div>
    <div class="col-md-6">
      <h1>Vision</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est molestias, quidem neque tenetur quod architecto
        atque laboriosam labore perspiciatis eius inventore autem, at a dolorum, nam doloremque fuga quas nulla.</p>
    </div>
  </div>
</div>

<div class="container" id="donapedro">
  <div class="row">
    <div class="col-md-6">
      <div id="dona-pedro-content">
        <span>Our agencies</span>
        <h2>Dona Pedro Agencies</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum maxime vel consectetur ratione iure minima
          eligendi, distinctio autem, nemo aliquid doloremque, veritatis consequuntur suscipit cumque labore vitae
          itaque
          eos!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias, velit odio facilis blanditiis
          magni eos ipsam est aliquam quia modi quaerat voluptatum, recusandae eum quos? Sint hic corporis consequatur!
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/white-mercedes-benz-cars-120049.jpg" alt="">
    </div>
  </div>
</div>

<div id="why">
  <div class="container">
    <span>know why</span>
    <h1>Why Choose Us?</h1>
    <div id="accordianId" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="section1HeaderId">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
              aria-controls="section1ContentId">
              Outstanding Services
            </a>
          </h5>
        </div>
        <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
          <div class="card-body">
            Our highly professional customer service team ensue that clients enjoy a Wow service experience.
            Our reservation response time is next to none.
            Our range of services are geared towards achieving maximum client satisfaction.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="section2HeaderId">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId" aria-expanded="true"
              aria-controls="section2ContentId">
              Masters Of The Road!
            </a>
          </h5>
        </div>
        <div id="section2ContentId" class="collapse in" role="tabpanel" aria-labelledby="section2HeaderId">
          <div class="card-body">
            Our professional chauffeurs are continuously trained to make your trip a memorable one.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="section3HeaderId">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" href="#amored" aria-expanded="true"
              aria-controls="amored">
              Movement & Logistics
            </a>
          </h5>
        </div>
        <div id="amored" class="collapse in" role="tabpanel" aria-labelledby="amored">
          <div class="card-body">
            We have the fleet and man power to get you and your products/ services to all states of the federation
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="section4HeaderId">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" href="#premium" aria-expanded="true"
              aria-controls="premium">
              Premium Vehicles
            </a>
          </h5>
        </div>
        <div id="premium" class="collapse in" role="tabpanel" aria-labelledby="premium">
          <div class="card-body">
            We offer neat and maintained automobile brands such as Toyota, Honda, BMW, Ford, Dodge, JAGUAR, Mercedes
            Benz LANDROVER, RANGE ROVER, Lexus vehicles, amongst other brands.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="section5HeaderId">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" href="#airport" aria-expanded="true"
              aria-controls="airport">
              Trackers On Every Vehicle
            </a>
          </h5>
        </div>
        <div id="airport" class="collapse in" role="tabpanel" aria-labelledby="airport">
          <div class="card-body">
            Our GPS solution also includes a complete report suite for you, so you can see your data and reports in one
            easy-to-read format.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
