<app-navbar></app-navbar>
<app-background-banner [heading]="heading"></app-background-banner>

<div class="container" id="about" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000"
  data-aos-easing="ease-in-sine">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/Group21.png" alt="">
    </div>
    <div class="col-md-6">
      <div id="about-content">
        <h2>About us</h2>
        <p>
          Dona Pedro Agencies
          is a family-owned business that was registered in 31 August 2012 by Ukandu Pedro Onyemeachi.
          We have delivered world-standard services in different areas over the years and have succeeded across boards.
          From deep cleaning, to lifestyle entertainment and now car rentals. Our delivery of excellent service meets
          and exceeds the expectations of esteemed clients with maximum client satisfaction guaranteed
          is what has sustained us over the years.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="mission-vision" data-aos="zoom-in-up" data-aos-duration="2500">
  <div class="row">
    <div class="col-md-6">
      <h1 (click)="setMissionDisplay()">Mission</h1>
      <ul [hidden]="missionDisplay">
        <li>To help our clients concentrate on their core business while we handle all their mobility issues</li>
        <li>To help customers get value for money spent through proper and efficient vehicle utilization.</li>
        <li>To help our clients reduce cost.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h1 (click)="setVisionDisplay()">Vision</h1>
      <p [hidden]="visionDisplay">To continue to make positive changes in the business of logistics in Nigeria.</p>
    </div>
  </div>
</div>

<div class="container" id="donapedro" data-aos="fade-left" data-aos-duration="2500">
  <div class="row">
    <div class="col-md-6">
      <div id="dona-pedro-content">
        <h2>Customer Satisfaction</h2>
        <p>
          We believe in extreme honest communication. We make sure we understand your expectations and deliver quality
          results. One quick call can free
          up a bunch of time on your future schedule with any of our services.
          We strive to make this as stress-free of a process as possible to ensure your satisfaction.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/white-mercedes-benz-cars-120049.jpg" alt="">
    </div>
  </div>
</div>

<div id="why" data-aos="zoom-in-down" data-aos-duration="2500">
  <div class="container">
    <span>What we do</span>
    <h1>Our services</h1>
    <div id="accordianId" role="tablist" aria-multiselectable="true">
      <div class="card" *ngFor="let service of services">
        <div class="card-header" role="tab" [id]="service.id">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" [href]="service.descIdHref" aria-expanded="true"
              [attr.aria-controls]="service.descId">
              {{service.name}}
            </a>
          </h5>
        </div>
        <div [id]="service.descId" class="collapse in" role="tabpanel" [attr.aria-labelledby]="service.id">
          <div class="card-body">
            {{service.desc}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
