<!-- Button trigger modal -->

<form [formGroup]="transferForm" method="POST" (ngSubmit)="onSubmit(transferForm.value)">
  <!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="modalContent">
      <div class="modal-header">
        <h5 class="modal-title">Enter Details Below</h5>
          <button type="button" class="close" data-dismiss="modal" id="modalCloseBtn" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="form-group" [ngClass]="{'error': !validateName()}">
          <label for="date">Name</label>
          <input type="text" placeholder="Full Name" formControlName="name" class="form-control">
          <em *ngIf="!validateName()">*Required</em>
        </div>
        <div class="form-group" [ngClass]="{'error': !validateEmail()}">
          <label for="date">Email</label>
          <input type="email" placeholder="example@something.com" formControlName="email" class="form-control">
          <em *ngIf="!validateEmail()">*Required</em>
        </div>
        <div class="form-group" [ngClass]="{'error': !validatePhone()}">
          <label for="date">Phone</label>
          <input type="tel" placeholder="eg: 070xxxxxxx" formControlName="phone" class="form-control">
          <em *ngIf="!validatePhone()">*Required</em>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled] = "transferForm.invalid" class="btn form-control">Reserve</button>
      </div>
    </div>
  </div>
</div>
  <div class="form-group" [ngClass]="{'error': !validateDeparture()}">
    <label for="departure">Depature</label>
    
    <select class="form-control" formControlName="departure">
      <option value="Select Location" selected>Select Location</option>
      <option *ngFor="let depature of departures">
        {{depature}}
      </option>
    </select>
    <em *ngIf="!validateDeparture()">*Required</em>
  </div>
  <div class="form-group" [ngClass]="{'error': !validateDestination()}">
    <label for="departure">Destination</label>
    <select class="form-control" formControlName="destination">
      <option value="Select Location" selected>Select Location</option>
      <option *ngFor="let destination of destinations">
        {{destination}}
      </option>
    </select>
    <em *ngIf="!validateDestination()">*Required</em>
  </div>
  <div id="flex">
    <div class="form-group mr-1" [ngClass]="{'error': !validateDropOffDate()}">
      <label for="date">Dropoff Date</label>
      <input type="date" placeholder="Date" formControlName="dropoffDate" class="form-control">
      <em *ngIf="!validateDropOffDate()">*Required</em>
    </div>
    <div class="form-group" [ngClass]="{'error': !validateDropOffTime()}" [ngClass]="{'ml-4': setMargin}">
      <label for="time">Dropoff Time</label>
      <input type="time" class="form-control" formControlName="dropoffTime" placeholder="Time">
      <em *ngIf="!validateDropOffTime()">*Required</em>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'error': !validateCarCategory()}">
    <label for="carList">Car Category</label>
    <select class="form-control" formControlName="carCategory"
      (change)="getCategoryCars(transferForm.value.carCategory)">
      <option value="Select Category" selected>Select Category</option>
      <option *ngFor="let category of categories">
        {{category}}
      </option>
    </select>
    <em *ngIf="!validateCarCategory()">*Required</em>
  </div>
  <div class="form-group" [ngClass]="{'error': !validateDepartureCar()}">
    <label for="carList">Car</label>
    <select class="form-control" formControlName="departureCar" name="car"
    (change)="getModel(transferForm.value.departureCar)">
      <option value="Select a car" selected>Select Car</option>
      <option *ngFor="let car of cars">
        {{car.car}}
      </option>
    </select>
    <em *ngIf="!validateDepartureCar()">*Required</em>
  </div>

  <div class="form-group" [hidden] = "isDisabled" [ngClass]="{'error': !validateModel()}">
    <label for="carList">Model</label>
    <select class="form-control" formControlName="model" name="model">
      <option value="Select a model" selected>Select a model</option>
      <option *ngFor="let model of models">
        {{model}}
      </option>
    </select>
    <em *ngIf="!validateModel()">*Required</em>
  </div>
  <button type="button" class="btn form-control" data-toggle="modal" data-target="#modelId">
    Continue
  </button>
</form>