<div class="background-cover">
  <div class="background-text">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Secured Wheels</h1>
          <p>We aim to be a significant player in the Nigerian transport industry by being proactive to the
            increased demands of clientele and providing cost-effective solutions in transportation.
           </p>

           <button class="btn">Explore</button>
            <button class="btn">Reserve</button>
            
           
        </div>
      </div>
      
    </div>
    
  </div>
</div>