<div class="background-cover">
  <div class="background-text">
    <div class="container">
      <div class="row">
        <div class="col-md-6" data-aos="fade-up" data-aos-duration="2000">
          <h1>Secured Wheels</h1>
          <p>We are a car rental company, aimed to be a significant player in the Nigerian transportation industry by
            being proactive to the increased demands of clientele and providing cost-effective solutions in car rentals
            and transport business.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>

<div id="icons">
  <a href="https://www.linkedin.com/company/dona-pedro-agencies" target="_blank">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  <a href="https://www.instagram.com/donapedroagencies/" target="_blank">
    <mdb-icon fab icon="instagram"></mdb-icon>
  </a>
  <a href="https://web.facebook.com/donapedroagencies" target="_blank">
    <mdb-icon fab icon="facebook-f"></mdb-icon>
  </a>
</div>