<div id="why" data-aos="zoom-in-down" data-aos-duration="2500">
  <div class="container">
    <span>know why</span>
    <h1>Why Choose Us?</h1>
    <div id="accordianId" role="tablist" aria-multiselectable="true">
      <div class="card" *ngFor="let service of services">
        <div class="card-header" role="tab" [id]="service.id">
          <img src="assets/images/award-icon.png" alt="">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" [href]="service.descIdHref" aria-expanded="true"
              [attr.aria-controls]="service.descId">
              {{service.name}} 
            </a>
          </h5>
        </div>
        <div [id]="service.descId" class="collapse in" role="tabpanel" [attr.aria-labelledby]="service.id">
          <div class="card-body">
            {{service.desc}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>