<app-navbar></app-navbar>
<app-background-banner [heading]="heading"></app-background-banner>

<div class="vector" data-aos="zoom-in-down" data-aos-duration="2000">
  <a href="https://www.freepik.com/free-photos-vectors/people">
    <img src="assets/images/d-clean/2.jpg" alt="Cleaning vector" id="vector">
  </a>
</div>

<div class="container mt-5" id="aboutus" data-aos="fade-in" data-aos-duration="3000">
  <span>You should know</span>
  <h1>About Us</h1>
  <div class="row">
    <div class="col-md-6">
      <p>We take care of the cleaning so you can live your life. Born due to the need of concerned people of their
        hygiene and
        environment. We made the decision to make our deep cleaning services readily available to help give
        people more peace of mind and take out the likelihood of businesses having infection, so family members
        and employees can feel safe.
        We are happy to have started providing affordable disinfection services to the hospitality and manufacturing
        industry.</p>
    </div>
    <div class="col-md-6">
      <p>When you’re looking for a reliable commercial or domestic cleaning in Nigeria to take care of your space or
        business premises. D Clean Services offers you the perfect balance for price and quality. Be assured that
        our cleaning team are polite, friendly and hard-working.</p>
    </div>
  </div>
</div>

<div id="blueContainer" data-aos="zoom-in-down" data-aos-duration="2000">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <span>You should know</span>
        <h2>Why Choose Us</h2>
        <p>Choose us because we manage our business around customer satisfaction. That is why we believe so
          heavily in clear communication. We are a call away from making a stress-free process of value for quality
          service with our services. Give us a call today?!
        </p>
      </div>
      <div class="col-md-6 second">
        <span>You should know</span>
        <h2>Our Pro Operations</h2>
        <p>Every member of D-clean service is properly trained and goes through a medical assessment. You can have the
          peace of mind that someone trustworthy is entering your space. Be rest assured that whoever comes into your
          work spaces, homes, schools, gyms, hospitals, supermarts etc is trustworthy. We know and trust each of our
          cleaners at a personal level. We create and maintain a healthy work
          environment that allows us to trust each of them to clean your space. We truly love what we do and can't wait
          to get started cleaning your space.</p>
      </div>
    </div>
  </div>
</div>

<div id="why">
  <div class="container">
    <div class="section-header">
      <span>You Should Know</span>
      <h1>What should we help you with?</h1>
    </div>
    <div id="accordianId" role="tablist" aria-multiselectable="true">
      <div class="card" *ngFor="let service of services">
        <div class="card-header" role="tab" [id]="service.id">
          <img src="assets/images/award-icon.png" alt="">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordianId" [href]="service.descIdHref" aria-expanded="true"
              [attr.aria-controls]="service.descId">
              {{service.name}}
            </a>
          </h5>
        </div>
        <div [id]="service.descId" class="collapse in" role="tabpanel" [attr.aria-labelledby]="service.id">
          <div class="card-body">
            {{service.desc}}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="vector" data-aos="zoom-in-down" data-aos-duration="2000">
  <a href="assets/images/d-clean/3.jpg">
    <img src="assets/images/d-clean/3-min.jpg" alt="Cleaning vector" id="vector">
  </a>
</div>

<app-footer></app-footer>
