#cars-fleet {
  background: #010311;
}

.cars-fleet-heading span {
  color: #FFBE4D;
  text-transform: uppercase;
}

.cars-fleet-heading h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#cars-fleet .card {
  background-color: #010311;
  margin-bottom: 2em;
  border: 4px solid #030724;
  height: 90%;
}

#cars-fleet .card img {
  background-color: #010311;
  height: 40%;
  width: 60%;
  margin: 0px auto;
}

.car-details {
  padding: 1em;
}

.car-details-heading h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.car-details-heading p {
  color: #fff;
}

#cars-fleet .car-details .row .col-md-4 p {
  color: #fff;
  font-size: 13px;
}

#cars-fleet .car-details .row .col-md-4 img {
  height: 20px;
  width: 20px;
  margin: 8px;
}

#cars-fleet .d-flex img {
  height: 20px;
  width: 20px;
  margin: 8px;
}

.but-data button {
  margin-bottom: 10em;
  color: #000;
}



button {
  background-color: #FFBE4D;
  margin-bottom: 3em;
}

#reserveButton {
  width: 50%;
  margin: 10px auto 0;
}

@media (max-width:460px) {

  #cars-fleet .car-details .row .col-md-4 img {
    display: none;
  }

  #cars-fleet .car-details .row .col-md-4 p {
    display: none;
  }

  #car-fleet #see-more p {
    text-align: center;
  }

#cars-fleet .card {
  background-color: #010311;
  margin-bottom: 2em;
  border: 4px solid #030724;
  height: 90%;
}
}


@media (max-width:600px) {

  #cars-fleet .car-details .row .col-md-4 img {
    display: none;
  }

  #cars-fleet .car-details .row .col-md-4 p {
    display: none;
  }

  #car-fleet #see-more p {
    text-align: center;
  }
}
