    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" 
    aria-hidden="true" *ngIf="eventName && eventDesc && eventImg">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalContent">
          <div class="modal-header">
            <h2 class="modal-title">{{eventName}}</h2>
              <button type="button" class="close" data-dismiss="modal" id="modalCloseBtn" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <img [src]="eventImg" alt="Event Image">
            <p>{{eventDesc}}</p>
          </div>
          <!-- <div class="modal-footer">
            <button type="submit" [disabled] = "dailyRentalForm.invalid" class="btn form-control">Reserve</button>
          </div> -->
        </div>
      </div>
    </div>

<app-navbar></app-navbar>
<app-background-banner [heading]="heading"></app-background-banner>

<div class="entertained">
  <span>Feel Entertained</span>
  <h1>Entertainment and Lifestyle</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let event of events" id="cards">
        <div class="card">
          <div class="card-header">
            <img [src]="event.imgUrl">
          </div>
          <div class="card-body">
            <h3>{{event.name}}</h3>
            <p>{{event.desc | slice:0:150}}...</p>
            <button type="button" class="btn form-control" 
          (click)="setDetails(event.name, event.desc, event.imgUrl)"
          data-toggle="modal" data-target="#modelId">Show More</button>
        </div>
          </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
