<div class="container" id="testimonials">

  <div class="row">
    <div class="col-lg-12 text-center">
      <span class="">You should know</span>
      <h1>What people say about us</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque vero a cupiditate voluptas reprehenderit
        dolor,
        atque aliquam! Magni, optio cum.</p>
    </div>
  </div>
</div>

<div class="items">
  <div class="card" *ngFor="let testimonial of testimonials">
    <div class="card-body">
      <div class="template-demo">
        <p>{{testimonial.testimony}}</p>
      </div>
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
          <div class="profile text-right">
            <span class="cust-profession">-{{testimonial.business}}</span>
            <p class="cust-name">{{testimonial.author}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
