#carReserve {
  margin-top: 6em;
}

#carReserve span {
  color: #FFBE4D;
  display: block;
  text-transform: capitalize;
}

#carReserve h1 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

#carReserve p {
  width: 50%;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4em;
}

.reserve-container {
  background-color: #010311;
  padding: 4em;
}

.reserve-container form button, button {
  background-color: #FFBE4D;
  color: #000;
}

#carReserve-img-block span{
  color: #FFBE4D;
}

#carReserve-img-block h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#adImg {
  margin: 10px auto;
}

#adImg img {
  border-radius: 50%;
}

/* Media queries */

@media (max-width: 1030px) {
}

@media (max-width: 480px) {
  .reserve-container {
    padding: 2em;
  }

  #carReserve p {
    width: 80%;
  }
}

@media (max-width: 330px) {
  .reserve-container {
    padding: 10px;
  }
}