<div class="container" id="carReserve" data-aos="zoom-in-up" data-aos-duration="2000">

  <div class="row">
    <div class="col-lg-12 text-center">
      <span class="">Get a top notch car</span>
      <h1>Reserve a car</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 mb-5" id="adImg">
      <img src="assets/images/5off.png" alt="">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-0">
      <div class="reserve-container">
        <div class="d-flex text-center">
          <div class="col-md-4 col-sm-4">
            <button routerLink="transfer" routerLinkActive="active"  type="button" class="btn">Transfer</button>
          </div><br>
          <div class="col-md-4 col-sm-4">
            <button type="button" routerLink="daily-rental" routerLinkActive="active"  class="btn">Daily Rental</button>
          </div>
        </div><br>
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-md-6" id="carReserve-img-block">
      <img src="assets/images/bmw-22478.png" alt="">
      <div class="text-center">
        <span>Meet the</span>
        <h2>BMW Rouge</h2>
      </div>
    </div>
  </div>
</div>

<ngx-spinner name = "main" type = "ball-clip-rotate"></ngx-spinner>
<ngx-spinner name = "sub" type = "ball-scale-ripple-multiple"></ngx-spinner>