<div class="container" id="about" data-aos="flip-down" data-aos-duration="3000">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/Group21.png" alt="">
    </div>
    <div class="col-md-6">
      <div id="about-content">
        <h2>About us</h2>
        <p>
          Secured wheels is a car rental company that you trust with an enjoyable ambiance during the ride.We make an
          effort to understand our clients request which helps us provide them with a smooth hassle-free experience from
          start to finish.<br><br>


          Secured wheels offers car hire service at your doorstep anytime anywhere. Be it hourly, half day, full day,
          weekly or self drive, we exclusively yours.
          As customers, you are an essential part of our business that is why we have prepared for you an exclusive
          reward package to thank you at the end of the year.
        </p>
      </div>
    </div>
  </div>
</div>
