<div class="container" id="about">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/Group21.png" alt="">
    </div>
    <div class="col-md-6">
      <div id="about-content">
        <h2>About us</h2>
        <p>
          Secured wheels is a car rental company that you trust with an enjoyable ambiance during the ride. We
          understanding our client's requests helps us to provide them with a smooth hassle-free experience from start
          to finish. <br><br>


          We offer car hire at your doorstep anytime and anywhere. Be it for hourly, half-day, full-day, weekly,
          monthly, yearly or for self-drive we are exclusively yours.
          Customers are key to us and you are an essential part of our business and that's why we have prepared reward
          packages to thank you at the end of the year.
        </p>
      </div>
    </div>
  </div>
</div>
