<div class="container" id="about">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/Group21.png" alt="">
    </div>
    <div class="col-md-6">
      <div id="about-content">
        <h2>About us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cum maxime vel consectetur ratione iure minima
          eligendi, distinctio autem, nemo aliquid doloremque, veritatis consequuntur suscipit cumque labore vitae itaque
          eos!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos molestias, velit odio facilis blanditiis
          magni eos ipsam est aliquam quia modi quaerat voluptatum, recusandae eum quos? Sint hic corporis consequatur!
        </p>
      </div>
    </div>
  </div>
</div>
