<div class="background-cover">
  <div class="background-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center" data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" data-aos-duration="2000">
          <h1>{{heading}}</h1>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

<div id="icons">
  <i class="fa fa-twitter"></i>
  <a href="https://www.instagram.com/donapedroagencies/" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
  <a href="https://web.facebook.com/donapedroagencies" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
</div>